{% extends 'base.html' %}

{% block body %}

<h2>{{ title}}</h2>
<h3>{{ table_title }}</h3>
<table border="1">
   <th>CWID</th>
   <th>Name</th>
   <th>Dept</th>
   <th>Course</th>
   <th>Students</th>
   {% for student in students %}
        <tr>
            <td>{{ student.CWID }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.Dept }}</td>
            <td>{{ student.Courses }}</td>
            <td>{{ student.Students }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}